/* #titles{
    /* 查询margin border的区别 */
    /* width: 800px;
    margin: auto;

    text-align: center;

    color: rgb(67, 160, 121);
    background-color: aliceblue;
} */ 


/* #titles{
    display: flex;
    justify-content: center;

} */

#signupform{
    background-color: rgb(171, 185, 235);
}
#groupsofar{
    background-color: rgb(236, 199, 219);
}
.SN:hover{
    font-weight: 800;

}

/* .outbutton{
    background-color: bisque;
} */

label{
    color:orange;
}

form:hover{
    color:green;
}

/* #submitbtn{
    background-color: rgb(184, 184, 208);
    position:relative;
    left: 20px;
    bottom: 5px;
    /* top: 10px; */
} */

#submitbtn{
    background-color: rgb(184, 184, 208);
    position:absolute;
    left: 200px;
    bottom: 50px;
    /* top: 10px; */
}